*{
    background-color: rgb(24, 24, 35);
    text-align: center;
    justify-content: space-evenly;
    align-content: space-around;
}

.formulario{
    max-width:550px;
    margin:auto;
}
h1{color:rgb(31, 138, 112) !important;
    font-family: sans-serif;

}
input{color:rgb(239, 245, 246);}
label{color:rgb(239, 245, 246);}
select{color:rgb(239, 245, 246);}
textarea{color:rgb(239, 245, 246);}

.enviar input{
    background-color: rgb(31, 138, 112) !important;
    width:50%;
}

.enviar input:hover{
    background-color: rgb(0, 66, 90) !important;
}